* {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

:root {
  --background-color: #393e46;
  --text-color: #f2f2f2;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 2.3rem;
}

.time-subtext {
  font-size: 1.6rem;
}